{% extends "layout.html" %}
{% block content %}
<!doctype html>
<title>Hello form Falsk</title>
{% if result %}
<h1>{{ result }}</h1>
{% else %}
<h1>Hello World!</h1>
{% endif %}

<form action="/post" method="post">
  <!-- MongoDB -->
  <h2>MongoDB</h2>
  <div>
    <label for="mongo_server_ip">ServerIP</label>
    <input type="text" id="mongo_server_ip">
  </div>
  <div>
    <label for="mongo_server_port">Port</label>
    <input type="text" id="mongo_server_port">
  </div>
 
  <!-- jubatus -->
  <h2>Jubatus</h2>
  <div>
    <label for="jubatus_server_ip">ServerIP</label>
    <input type="text" id="jubatus_server_ip">
  </div>
  <div>
    <label for="jubatus_server_port">Port</label>
    <input type="text" id="jubatus_server_port">
  </div>

  <div class="button">
    <button type="submit">confirm</button>
  </div>

</form>
{% endblock %}
