{% extends "layout.html" %}
{% block content %}
<!doctype html>
<title>Hello form Falsk</title>
{% if jubatus_server_ip %}
<h1>{{ jubatus_server_ip }}</h1>
{% else %}
<h1>Hello World!</h1>
{% endif %}

<form action="/post" method="post">
  <!-- jubatus -->
  <h2>Jubatus</h2>
  <div>
  <label for="jubatus_server_ip">ServerIP</label>
  <input type="text" id="jubatus_server_ip" name="jubatus_server_ip"/>
  <label for="jubatus_server_port">Port</label>
  <input type="text" id="jubatus_server_port" name="jubatus_server_port"/>
  </div>

  <!-- MongoDB -->
  <h2>MongoDB</h2>
  <div>
  <label for="mongo_server_ip">ServerIP</label>
  <input type="text" id="mongo_server_ip" name="mongo_server_ip" />
  </div>
  <div>
  <label for="mongo_server_port">Port</label>
  <input type="text" id="mongo_server_port" name="mongo_server_port"/>
  </div>

<div class="button">
<button type="submit">confirm</button>
</div>

</form>
{% endblock %}
