{% extends "layout.html" %}
{% block content %}
<!doctype html>
<title>Hello form Falsk</title>

<form action="/post" method="post">
  <!-- jubatusの入力フォーム -->
  <h2>Jubatus</h2>
  <div>
    <label for="jubatus_server_ip">ServerIP</label>
    <input type="text" id="jubatus_server_ip" name="jubatus_server_ip" value="127.0.0.1"/>
    <label for="jubatus_server_port">Port</label>
    <input type="text" id="jubatus_server_port" name="jubatus_server_port" value="9199"/>
  </div>

  <!-- MongoDBの入力フォーム -->
  <h2>MongoDB</h2>
  <div>
    <label for="mongo_server_ip">ServerIP</label>
    <input type="text" id="mongo_server_ip" name="mongo_server_ip" value="127.0.0.1" />
  </div>
  <div>
    <label for="mongo_server_port">port</label>
    <input type="text" id="mongo_server_port" name="mongo_server_port" value="27017"/>
  </div>
  <div>
    <label for="db_name">DB Name</label>
    <input type="text" id="db_name" name="db_name" value="sensordb"/>
  </div>
  <div>
    <label for="collection_name">Collection Name</label>
    <input type="text" id="collection_name" name="collection_name" value="sensors"/>
  </div>
</form>

<form action="load" method="post">
  <div class="button">
    <button type="submit">Load Data</button>
  </div>
</form>

<form action="/graph" method="post">
  {% if name_list %}
    <!-- <select name="name" onchange="this.form.submit()"> -->
    <select name="name">
  {% for name in name_list %}
  <option value={{ name }}>{{ name }}</option>
  {% endfor %}
  </select>
  <div class="button">
    <button type="submit" value=value>Print Graph</button>
  </div>
  {% endif %}
</form>


<form action="/train" method="post">
  <div class="button">
    <button type="submit">Start Machine Learning</button>
  </div>
</form>
{% endblock %}
